{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <!-- LIST ALL CATEGORIES -->
    <div class="categories">
        {% for category in categories %}   
            <div class="cat-link">
                <a href="{% url 'categories' category.name %}">
                    <span class="cat">
                        {{ category.name }}
                    </span>
                </a>
            </div>
        {% empty %}
            <li>Sorry, no existing categories.</li>
        {% endfor %}
    </div>
{% endblock %}