{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}   

            <div class="container row">
                <div class="col">
                    <img src="{{listing.image_url}}" alt="Auction image" width="200px">
                </div>
                <div class="col">
                    <a href="{% url 'listings' listing.id %}">
                        <h3>{{ listing.title }}</h3>
                    </a>
                    <b>Price: {{ listing.current_price }}</b>
                    <div>Created {{ listing.datetime_listed }}</div>
                </div>
            </div>

        {% empty %}
            <li>Sorry, no auctions in this list.</li>
        {% endfor %}
    </ul>
{% endblock %}