{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    
    {% if listing %}
        <h2>{{ listing.title }}</h2>
        <!-- ADD OR REMOVE USER FROM LISTING WATCHERS -->
        {% if user.is_authenticated %}
            {% if request.user in listing.watchers.all %}
                <a href="?watch=false">Unwatch</a>
            {% else %}
                <a href="?watch=true">Watchlist</a>
            {% endif %}
        {% endif %}
        <br>

        <!-- UNLIST AUCTION IF USER IS THE OWNER -->
        {% if listing.listed_by == request.user and listing.is_active %}
            <a href="?unlist=true">Unlist</a>
        {% elif not listing.is_active %}
            <h6>Unlisted</h6>

            {% if listing.winner == request.user %}
                <div class="alert alert-success" role="alert">
                    You won this auction
                </div>
            {% endif %}

        {% endif %}

        <br>

        <img src="{{ listing.image_url }}" alt="Auction image">
        <div>{{ listing.description }}</div>
        <h3>${{ listing.current_price }}</h3>

        <!-- SHOW THE CURRENT STATE OF THE BIDS -->
        <div> {{ listing.bids.all.count }} bid(s) so far.

        <!-- IF THERE'S NO BIDS YET -->
        {% if listing.current_highest_bid is None %}
            Make a first bid!</div>
        {% else %}
            <!-- IF YOUR BID IS THE CURRENT -->
            {% if listing.current_highest_bid.user == request.user %}
                Your bid is the current bid. 
            <!-- IF SOMEONE ELSES BID IS THE CURRENT -->
            {% else %}
                Someone elses bid is the current bid. 
            {% endif %}
            </div>
        {% endif %}

        <!-- NEW BID FORM -->
        {% if user.is_authenticated and listing.is_active and listing.listed_by != request.user %}
            <form method="post">
                {% csrf_token %}
                {{ new_bid }}
                <input type="submit" value="Place Bid">
            </form>
        {% endif %}

        <br>

        <!-- AUCTION DETAILS  -->
        <div class="details">
            <h4>Details:</h4>
            <ul>
                <li>Listed By: {{ listing.listed_by }}</li>
                <li>Category: 
                    {% if listing.category is None %}
                        No Category Listed
                    {% else %}
                        {{ listing.category }}
                    {% endif %}
                </li>
            </ul>
        </div>

        <!-- NEW COMMENT FORM -->
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ new_comment }}
                <input type="submit" value="New Comment">
            </form>
        {% endif %}
        
        <!-- SHOW ALL EXISTING COMMENTS -->
        <div class="comments">
            <h4>Comments:</h4>

            {% for comment in comments %}
                <div class="comment">
                    <p> 
                        <b>{{ comment.commented_by }}:</b>
                        {{ comment.comment_text }}
                    </p>
                    <p>Commented on {{ comment.datetime_commented }}</p>

                </div>
            {% empty %}
                <div>No comments yet.</div>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}